<%=render "shared/site_nav"%>

<div class="container">
  <h1 class="show-title">Update or Delete <span class"team-name"><%=@team.name%></span></h1>

  <!-- Update -->
  <div class="row justify-content-center">
    <div class="col-xs-12 align-items-center">
      <div class="show-container flex-row justify-content-center">
        <%= form_for @team do |f| %>
          <div class="form-group">
            <%= f.label "Name" %>
            <%= f.text_field :name, class: "form-control form-control-lg", value: @team.name%>
          </div>

          <div class="form-group">
            <%= f.label "Abbreviation" %>
            <%= f.text_field :abbreviation, class: "form-control form-control-lg", value: @team.abbreviation%>
          </div>

          <div class="form-group">
            <%= f.label "Nickname" %>
            <%= f.text_field :nickname, class: "form-control form-control-lg", value: @team.nickname%>
          </div>

          <div class="form-group">
            <%= f.label "Bright Color" %>
            <%= f.text_field :bright_color, class: "form-control form-control-lg", value: @team.bright_color%>
          </div>

          <div class="form-group">
            <%= f.label "Light Color" %>
            <%= f.text_field :light_color, class: "form-control form-control-lg", value: @team.light_color%>
          </div>

          <div class="form-group">
            <%= f.label "Dark Color" %>
            <%= f.text_field :dark_color, class: "form-control form-control-lg", value: @team.dark_color%>
          </div>

          <div class="form-group">
            <%= f.label "Twitter List" %>
            <%= f.text_field :twitter_list, class: "form-control form-control-lg", value: @team.twitter_list%>
          </div>

          <div class="form-group">
            <%= f.label "Sport" %><br/>
            <%= f.select :sport_id, Sport.all.collect { |s| [ s.name, s.id ] }, include_blank: true, value: @team.sport%>
          </div>

          <%= f.submit "Update #{@team.name}", class: "btn btn-primary btn-lg show-button"%>
        <% end %>


      <!-- Delete  -->
        <%= form_for @team, :method => :delete do |f|  %>
          <%= submit_tag "Delete #{@team.name}", class: "btn btn-primary btn-lg show-button delete" %>
        <% end %>

        <%= link_to 'Previous', @teams.next(@team), class: "btn btn-lg btn-primary" %>
        <%= link_to 'Next', @teams.previous(@team), class: "btn btn-lg btn-primary" %>
        <%= link_to 'Back To Admin', admin_index_path, class: "btn btn-lg btn-primary" %>
        
      </div>

      </div>

  </div>

</div>
