<% content_for :title, "Backcourt Dribble: Soccer, Football, Basketball, Rugby, Tennis, Softball, Volleyball, Ice Hockey" %>


<%= render 'shared/site_nav'%>
<!-- <body class="big-white"> -->
<body>
  <div class="sports-container container-fluid">
    <div class="row justify-content-center align-items-center dashboard-section sports_container">
      <div class="col-xs-12 align-items-center">
        <%if @sports.length > 1 %>
            <%@sports.each do |sport|%>
                  <div class="sports">
                    <%= link_to "#{sport.name}", "##{sport.name}", class: "btn btn-lg btn-primary sports-button"%>
                  </div>
            <%end%>
          <%end%>
      </div>
    </div>

    <% @sports.each do |sport| %>

    <!-- Sport CRUD -->
    <div id="<%=sport.name%>" class="row justify-content-around sport-section">
      <div class="col-xs-12 col-md-4">

        <div class="create-action">
          <h2 class="sport-section-header"><%=sport.name%></h2>
          <h3 class="league-message"> Available to Engage with now on Backcourt Dribble: </h3>
          <% leagues_with_matches = sport.leagues.select{|league| league.matches.length > 0 } %>
          <%if leagues_with_matches.any?%>

              <% leagues_with_matches.each do |league| %>
                  <!-- Get leagues with matches in the future  -->
                  <% league_specific_future_matches = find_future_sport_matches(league.matches) %>
                  <!-- For each league with matches in the future, display the name of the league -->
                  <% if league_specific_future_matches.any? %>
                   <div class="available-leagues-list">
                     <%= link_to "#{league.name}", league_matches_path(:league_id => league.id) %>
                   </div>
                  <%end%>
              <%end%>

            <%else%>
             <div class="no-engagement">Nothing here yet, check back soon!</div>
            <%end%>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <h3 class="league-message"> Leagues Around the World: </h3>
        <div class="league-scroller">
            <% all_leagues = sport.leagues %>
            <% all_leagues.each do |league| %>
              <div class="worldwide-league"> <%= league.name %> </div>
              <% end %>
        </div>
      </div>
    </div> <!-- End Sport CRUD -->
    <%end%>
  </div>
</body>
