<% content_for :title, "Backcourt Dribble: #{@sport.name} Leaderboard" %>


<body class="leaderboard-body">
  <div class="container-fluid">

      <div class="row justify-content-center leaderboard-title-container">
        <div class="col-xs-12 d-flex align-items-center">
          <h1 class="leaderboard-title text-center"><%=@sport.name%> Leaderboard</h1>
        </div>
      </div>

      <%unique_users = get_unique_users(@predictions)%>
      <%unique_users.each do |user|%>
        <% user.calculate_points %>
      <%end%>

      <%sorted_unique_users = sort_users_by_points(get_unique_users(@predictions))%>

      <%top_users = sorted_unique_users[0,3]%>


      <div class="row justify-content-center">
        <div class="col-xs-12">
          <div class="top-three-users d-flex justify-content-between">
          <%if top_users.length >= 3%>
            <div class="image-container">
                <img src="<%=top_users[1].avatar%>" class="profile-image" alt="profile image">
                <p class="position">2nd</p>
            </div>
            <div class="image-container">
               <img src="<%=top_users[0].avatar%>" class="profile-image featured" alt="profile image">
              <p class="position">1st</p>
            </div>
            <div class="image-container">
              <img src="<%=top_users[2].avatar%>" class="profile-image" alt="profile image">
              <p class="position">3rd</p>
            </div>
          <%end%>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">

        <div class="col-xs-12">

          <% sorted_unique_users.each_with_index do |user, index| %>

            <div class="row true-leaderboard-card justify-content-between">

                <div class="rank d-flex align-self-center justify-content-center">
                    <!-- Edge case, tied users -->
                    <!-- If users points at current_index == that of the previous index
                    print index-1
                    Else increment the index -->

                    <%if index == index - 1%>
                      <p class="text-center"><%=index-1%></p>
                    <%else%>
                      <p class="text-center"><%=index + 1%></p>
                    <%end%>

                </div>


                <div class="true-leaderboard-card-info d-flex align-self-center">
                  <img src="<%=user.avatar%>" class="profile-image" alt="profile image">
                </div>

                <div class="true-leaderboard-card-info d-flex justify-content-center align-self-center">
                  <p class="text-center username"><%= user.username %></p>
                </div>

                <div class="true-leaderboard-card-info d-flex justify-content-center align-self-center">
                  <p class="text-center percent"><%= user.points %>pts</p>
                </div>

              </div> <!--End leaderboard cards-->
          <% end %>

        </div> <!--End outer col for leaderboard cards-->

      </div> <!--End outer row for leaderboard cards-->

    </div> <!--End container-->
</body>
