<% content_for :title, "Backcourt Dribble Admin" %>


<%= render 'shared/site_nav'%>
<div class="admin-container container-fluid">

  <div class="row justify-content-center align-items-center dashboard-section">
    <div class="col-xs-12 align-items-center">
      <h1 class="admin-welcome text-center"> Welcome, <%= current_user.username %>.</h1>
      <h2 class="section-prompt text-center">What would you like to update today?</h2>
      <div class="resources">
        <div class="resource">
          <%= link_to 'Sports', '#sports', class: "btn btn-lg btn-primary resource-button"%>
        </div>

        <div class="resource">
            <%= link_to 'Leagues', '#leagues', class: "btn btn-lg btn-primary resource-button"%>
        </div>

        <div class="resource">
            <%= link_to 'Venues', '#venues', class: "btn btn-lg btn-primary resource-button"%>
        </div>

        <div class="resource">
            <%= link_to 'Matches', '#matches', class: "btn btn-lg btn-primary resource-button"%>
        </div>

        <div class="resource">
            <%= link_to 'Teams', '#teams', class: "btn btn-lg btn-primary resource-button"%>
        </div>
      </div>
    </div>
  </div>

  <!-- Sport CRUD -->
  <div id="sports" class="row justify-content-around resource-section">
    <!-- <h2 class="section-heading">Update Sports</h2> -->
    <div class="col-xs-12 col-md-6">
      <div class="create-action">
        <h3 class="text-center edit-options"> Create A New Sport: </h3>
        <%= form_for :sport, :url => {:controller => "sports", :action => "create"} do |f| %>
          <div class="form-group">
            <%= f.label :name, "Sport Name"%>
            <%= f.text_field :name, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= f.label :image_url, "Image"%>
            <%= f.text_field :image_url, class:"form-control", placeholder: "Optional"%>
          </div>

          <div class="form-group">
            <%= f.label :sound_link, "Sound Link"%>
            <%= f.text_field :sound_link, class:"form-control", placeholder: "Optional"%>
          </div>

          <div class="form-actions">
            <%= f.submit "Submit", class: "btn btn-primary btn-md" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="text-center edit-options"> All Sports: </h3>
      <div class="scroller">

          <% alphabetize(@sports).each do |sport| %>
            <%=link_to sport.name, sport_path(sport), class:"show-links"%>
            <% end %>
      </div>
    </div>
  </div> <!-- End Sport CRUD -->

  <!-- League CRUD -->
  <div id="leagues" class="row justify-content-around resource-section">
    <h2 class="section-heading"></h2>
    <div class="col-xs-12 col-md-6">
      <div class="create-action">
        <h3 class="text-center edit-options"> Create A New League: </h3>
        <%= form_for :league, :url => {:controller => "leagues", :action => "create"} do |f| %>
          <div class="form-group">
            <%= f.label "Name" %>
            <%= f.text_field :name, class: "form-control form-control-lg"%>
          </div>

          <div class="form-group">
            <%= f.label "Abbreviation" %>
            <%= f.text_field :abbreviation, class: "form-control form-control-lg"%>
          </div>

          <div class="form-group">
            <%= f.label "Sport" %><br/>
            <%= f.select :sport_id, Sport.order(:name).collect { |s| [ s.name, s.id ] }, include_blank: true%>
          </div>

          <%= f.submit "Submit", class: "btn btn-primary btn-lg show-button"%>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="text-center edit-options"> All Leagues: </h3>
      <div class="scroller">
          <% alphabetize(@leagues).each do |league| %>
            <%=link_to league.name, league_path(league), class:"show-links"%>
            <% end %>
      </div>
    </div>
  </div> <!-- End League CRUD -->

  <!-- Venue CRUD -->
  <div id="venues" class="row justify-content-around resource-section">
    <h2 class="section-heading"></h2>

    <div class="col-xs-12 col-md-6">
      <div class="create-action">
        <h3 class="text-center edit-options"> Create A New Venue: </h3>

        <%= form_for :venue, :url => {:controller => "venues", :action => "create"} do |f| %>
          <div class="form-group">
            <%= f.label "Name" %>
            <%= f.text_field :name, class: "form-control form-control-lg"%>
          </div>
          <div class="form-group">
            <%= f.label "Image" %>
            <%= f.text_field :picture_url, class: "form-control form-control-lg"%>
          </div>
          <div class="form-group">
            <%= f.label "Address" %>
            <%= f.text_field :address, class: "form-control form-control-lg"%>
          </div>

          <%= f.submit "Submit", class: "btn btn-primary btn-lg show-button"%>
        <% end %>

      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="text-center edit-options"> All Venues: </h3>
      <div class="scroller">
          <% alphabetize(@venues).each do |venue| %>
            <%=link_to venue.name, venue_path(venue), class:"show-links"%>
            <% end %>
      </div>
    </div>
  </div> <!-- End Venue CRUD -->

  <div id="matches" class="row justify-content-around resource-section">
    <h2 class="section-heading"></h2>
    <div class="col-xs-12 col-md-6">
      <div class="create-action">
        <h3 class="text-center edit-options"> Create A New Match: </h3>
        <%= form_for :match, :url => {:controller => "matches", :action => "create"} do |f| %>

          <div class="form-group">
            <%= f.label :sport %>
            <%= f.select :sport_id, Sport.order(:name).collect {|s| [ s.name, s.id ] }, { include_blank: true }, :class => "form-control"  %>
          </div>

          <div class="form-group">
            <%= f.label :league %>
            <%= f.select :league_id, League.order(:name).collect {|l| [ l.name, l.id ] }, { include_blank: true }, class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= f.label :Home_Team %>
            <%= f.select :home_team_id, Team.order(:name).collect {|t| [ t.name, t.id ] }, { include_blank: true }, class: "form-control"   %>
          </div>

          <div class="form-group">
            <%= f.label  :Away_Team %>
            <%= f.select :away_team_id, Team.order(:name).collect {|t| [ t.name, t.id ] }, { include_blank: true }, class: "form-control"   %>
          </div>


          <div class="form-group">
            <%= f.label :start, "Start Date and Time" %> <br/>
            <%= f.datetime_local_field :start, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= f.label "Time Zone" %></br>
            <%= f.select :time_zone, TZInfo::Timezone.all.collect { |tz| [tz.name] }, selected: "US/Eastern", class: "form-control form-control-lg"%>
          </div>

          <div class="form-group">
            <%= f.label :Channel %>
            <%= f.text_field  :channel, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= f.label :Venue %>
            <%= f.select :venue_id, Venue.order(:name).collect {|v| [ v.name, v.id ] }, { include_blank: true }, class: "form-control"  %>
          </div>

          <div class="form-actions">
            <%= f.submit "Submit", class: "btn btn-primary btn-md" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="text-center edit-options"> All Matches: </h3>
      <div class="scroller">
          <% sort_by_date(@matches).each do |match| %>
            <% @home_team = Team.find(match.home_team_id) %>
            <% @away_team = Team.find(match.away_team_id) %>
            <%=link_to "#{format_match_date_english(match)}: #{@home_team.name} vs. #{@away_team.name}", match_path(match), class:"show-links"%>
            <% end %>
      </div>
    </div>
  </div> <!-- End Matches CRUD -->


  <!-- Team CRUD -->
  <div id="teams" class="row justify-content-around resource-section">
    <h2 class="section-heading"></h2>
    <div class="col-xs-12 col-md-6">
      <div class="create-action">
        <h3 class="text-center edit-options"> Create A New Team: </h3>
        <%= form_for :team, :url => {:controller => "teams", :action => "create"} do |f| %>
          <div class="form-group">
            <%= f.label "Name" %>
            <%= f.text_field :name, class: "form-control form-control-lg"%>
          </div>

          <div class="form-group">
            <%= f.label "Abbreviation" %>
            <%= f.text_field :abbreviation, class: "form-control form-control-lg"%>
          </div>

          <div class="form-group">
            <%= f.label "Nickname" %>
            <%= f.text_field :nickname, class: "form-control form-control-lg"%>
          </div>

          <div class="form-group">
            <%= f.label "Bright Color" %>
            <%= f.text_field :bright_color, class: "form-control form-control-lg"%>
          </div>

          <div class="form-group">
            <%= f.label "Light Color" %>
            <%= f.text_field :light_color, class: "form-control form-control-lg"%>
          </div>

          <div class="form-group">
            <%= f.label "Dark Color" %>
            <%= f.text_field :dark_color, class: "form-control form-control-lg"%>
          </div>

          <div class="form-group">
            <%= f.label "Twitter List" %>
            <%= f.text_field :twitter_list, class: "form-control form-control-lg"%>
          </div>

          <div class="form-group">
            <%= f.label "Sport" %><br/>
            <%= f.select :sport_id, Sport.order(:name).collect { |s| [ s.name, s.id ] }, include_blank: true%>
          </div>

          <%= f.submit "Submit", class: "btn btn-primary btn-lg show-button"%>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="text-center edit-options"> All Teams: </h3>
      <div class="scroller">
          <% alphabetize(@teams).each do |team| %>
            <%=link_to team.name, team_path(team), class:"show-links"%>
            <% end %>
      </div>
    </div>
  </div> <!-- End Team CRUD -->


</div>
