<%= render 'shared/site_nav'%>
<div class="admin-container container-fluid">

  <div class="row justify-content-center align-items-center dashboard-section">
    <div class="col-xs-12 align-items-center">
      <h1 class="admin-welcome"> Welcome, <%= current_user.username %>.</h1>
      <h2 class="section-prompt text-center">What would you like to update today?</h2>
      <div class="resources">
        <div class="resource">
          <%= link_to 'Sports', '#sports', class: "btn btn-lg btn-primary resource-button"%>
        </div>

        <div class="resource">
            <%= link_to 'Leagues', '#leagues', class: "btn btn-lg btn-primary resource-button"%>
        </div>

        <div class="resource">
            <%= link_to 'Venues', '#venues', class: "btn btn-lg btn-primary resource-button"%>
        </div>

        <div class="resource">
            <%= link_to 'Matches', '#matches', class: "btn btn-lg btn-primary resource-button"%>
        </div>

        <div class="resource">
            <%= link_to 'Teams', '#teams', class: "btn btn-lg btn-primary resource-button"%>
        </div>
      </div>
    </div>
  </div>

  <!-- Sport CRUD -->
  <div id="sports" class="row justify-content-around resource-section">
    <!-- <h2 class="section-heading">Update Sports</h2> -->
    <div class="col-xs-12 col-md-6">
      <div class="create-action">
        <h3 class="text-center edit-options"> Create A New Sport: </h3>
        <%= form_tag(controller: 'sports', action: 'create') do %>
          <div class="form-group">
            <%= label_tag :name, "Sport Name"%>
            <%= text_field_tag :name, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :image_url, "Image"%>
            <%= text_field_tag :image_url, nil, class:"form-control", placeholder: "Optional"%>
          </div>

          <div class="form-actions">
            <%= submit_tag "Submit", class: "btn btn-primary btn-md" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="text-center edit-options"> All Sports: </h3>
      <div class="scroller">
          <% @sports.each do |sport| %>
            <%=link_to sport.name, sport_path(sport), class:"show-links"%>
            <% end %>
      </div>
    </div>
  </div> <!-- End Sport CRUD -->

  <!-- League CRUD -->
  <div id="leagues" class="row justify-content-around resource-section">
    <h2 class="section-heading"></h2>
    <div class="col-xs-12 col-md-6">
      <div class="create-action">
        <h3 class="text-center edit-options"> Create A New League: </h3>
        <%= form_tag(controller: 'leagues', action: 'create') do %>
          <div class="form-group">
            <%= label_tag :name, "League Name"%>
            <%= text_field_tag :name, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :Abbreviation %>
            <%= text_field_tag :abbreviation, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <!-- <label for="sportSelect">Sport</label> -->
            <%= label_tag :sport %>
            <%= select_tag :sport_id, options_from_collection_for_select(@sports, "id", "name"), include_blank: true, class: "form-control"  %>

          </div>

          <div class="form-actions">
            <%= submit_tag "Submit", class: "btn btn-primary btn-md" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="text-center edit-options"> All Leagues: </h3>
      <div class="scroller">
          <% @leagues.each do |league| %>
            <%=link_to league.name, league_path(league), class:"show-links"%>
            <% end %>
      </div>
    </div>
  </div> <!-- End League CRUD -->

  <!-- Venue CRUD -->

  <div id="venues" class="row justify-content-around resource-section">
    <h2 class="section-heading"></h2>

    <div class="col-xs-12 col-md-6">
      <div class="create-action">
        <h3 class="text-center edit-options"> Create A New Venue: </h3>

        <%= form_tag(controller: 'venues', action: 'create') do %>
          <div class="form-group">
            <%= label_tag :name, "Venue Name"%>
            <%= text_field_tag :name, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :picture_url, "Image" %>
            <%= text_field_tag :picture_url, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :address %>
            <%= text_field_tag :address, nil, class:"form-control", placeholder: "Street Address, City, State Zipcode"%>
          </div>

          <!-- Not saving in db, is being taken in as a hash on server side. may need to use Time instead of DateTime -->

          <div class="form-group">
            <%= label_tag :time_zone %> <br/>
            <%= time_zone_select(:venue, :time_zone, ActiveSupport::TimeZone.all.sort, model: ActiveSupport::TimeZone)%>
          </div>

          <div class="form-actions">
            <%= submit_tag "Submit", class: "btn btn-primary btn-md" %>
          </div>
        <% end %>

      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="text-center edit-options"> All Venues: </h3>
      <div class="scroller">
          <% @venues.each do |venue| %>
            <%=link_to venue.name, venue_path(venue), class:"show-links"%>
            <% end %>
      </div>
    </div>
  </div> <!-- End Venue CRUD -->

  <div id="matches" class="row justify-content-around resource-section">
    <h2 class="section-heading"></h2>
    <div class="col-xs-12 col-md-6">
      <div class="create-action">
        <h3 class="text-center edit-options"> Create A New Match: </h3>
        <%= form_tag(controller: 'matches', action: 'create') do %>

          <div class="form-group">
            <%= label_tag :sport %>
            <%= select_tag :sport_id, options_from_collection_for_select(@sports, "id", "name"), include_blank: true, class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= label_tag :league %>
            <%= select_tag :league_id, options_from_collection_for_select(@leagues, "id", "name"), include_blank: true, class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= label_tag :Home_Team %>
            <%= select_tag :home_team_id, options_from_collection_for_select(@teams, "id", "name"), include_blank: true, class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= label_tag :Away_Team %>
            <%= select_tag :away_team_id, options_from_collection_for_select(@teams, "id", "name"), include_blank: true, class: "form-control"  %>
          </div>


          <div class="form-group">
            <%= label_tag :start, "Start Date and Time: YYYY-MM-DD hh:mm:ss" %> <br/>
            <%= text_field_tag :start, nil, class:"form-control"%>
          </div>


          <div class="form-group">
            <%= label_tag :Channel %>
            <%= text_field_tag :channel, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :Venue %>
            <%= select_tag :venue_id, options_from_collection_for_select(@venues, "id", "name"), include_blank: true, class: "form-control"  %>
          </div>

          <div class="form-actions">
            <%= submit_tag "Submit", class: "btn btn-primary btn-md" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="text-center edit-options"> All Matches: </h3>
      <div class="scroller">
          <% @matches.each do |match| %>
            <% @home_team = Team.find(match.home_team_id) %>
            <% @away_team = Team.find(match.away_team_id) %>
            <%=link_to "#{match.start}: #{@home_team.name} vs. #{@away_team.name}", match_path(match), class:"show-links"%>
            <% end %>
      </div>
    </div>
  </div> <!-- End Matches CRUD -->


  <!-- Team CRUD -->
  <div id="teams" class="row justify-content-around resource-section">
    <h2 class="section-heading"></h2>
    <div class="col-xs-12 col-md-6">
      <div class="create-action">
        <h3 class="text-center edit-options"> Create A New Team: </h3>
        <%= form_tag(controller: 'teams', action: 'create') do %>
          <div class="form-group">
            <%= label_tag :name, "Team Name"%>
            <%= text_field_tag :name, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :Abbreviation %>
            <%= text_field_tag :abbreviation, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :Nickname %>
            <%= text_field_tag :nickname, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :Bright_color %>
            <%= text_field_tag :bright_color, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :Light_color %>
            <%= text_field_tag :light_color, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :Dark_color %>
            <%= text_field_tag :dark_color, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :Twitter_list %>
            <%= text_field_tag :twitter_list, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :sport %>
            <%= select_tag :sport_id, options_from_collection_for_select(@sports, "id", "name"), include_blank: true, class: "form-control"  %>
          </div>

          <div class="form-actions">
            <%= submit_tag "Submit", class: "btn btn-primary btn-md" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <h3 class="text-center edit-options"> All Teams: </h3>
      <div class="scroller">
          <% @teams.each do |team| %>
            <%=link_to team.name, team_path(team), class:"show-links"%>
            <% end %>
      </div>
    </div>
  </div> <!-- End Team CRUD -->


</div>
