<%= render 'shared/site_nav'%>
<div class="admin-container container-fluid">

  <div class="row justify-content-center align-items-center dashboard-section">
    <div class="col-xs-12 align-items-center">
      <h1 class="admin-welcome"> Welcome, <%= current_user.username %>.</h1>
      <h2 class="section-prompt">What would you like to update today?</h2>
      <div class="resources d-flex justify-content-center">
        <div class="resource">
          <%= link_to 'Sports', '#sports', class: "btn btn-lg btn-primary resource-button"%>
        </div>

        <div class="resource">
            <%= link_to 'Leagues', '#leagues', class: "btn btn-lg btn-primary resource-button"%>
        </div>

        <div class="resource">
            <%= link_to 'Venues', '#venues', class: "btn btn-lg btn-primary resource-button"%>
        </div>

        <div class="resource">
            <%= link_to 'Matches', '#matches', class: "btn btn-lg btn-primary resource-button"%>
        </div>
      </div>
    </div>
  </div>

  <!-- Sport CRUD -->
  <div id="sports" class="row justify-content-around resource-section">
    <!-- <h2 class="section-heading">Update Sports</h2> -->
    <div class="col-xs-12 col-md-6">
      <div class="create-action">
        <h3 class="text-center edit-options"> Create A New Sport: </h3>
        <%= form_tag(controller: 'sports', action: 'create', class: "form-inline") do %>
          <div class="form-group">
            <%= label_tag :name, "Sport Name"%>
            <%= text_field_tag :name, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :image_url, "Image"%>
            <%= text_field_tag :image_url, nil, class:"form-control", placeholder: "Optional"%>
          </div>

          <div class="form-actions">
            <%= submit_tag "Submit", class: "btn btn-primary btn-md" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <h3 class="text-center edit-options"> Choose a Sport to Update: </h3>


      <div class="edit-action">
        <!-- Sport Dropdown -->
      </div>

      <div class="delete-action">
        <!-- Sport Dropdown -->
      </div>
    </div>

  </div> <!-- End Sport CRUD -->

  <!-- League CRUD -->
  <div id="leagues" class="row justify-content-around resource-section">
    <h2 class="section-heading"></h2>
    <div class="col-xs-12 col-md-6">
      <div class="create-action">
        <h3 class="text-center edit-options"> Create A New League: </h3>
        <%= form_tag(controller: 'leagues', action: 'create', class: "form-inline") do %>
          <div class="form-group">
            <%= label_tag :name, "League Name"%>
            <%= text_field_tag :name, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <%= label_tag :Abbreviation %>
            <%= text_field_tag :abbreviation, nil, class:"form-control"%>
          </div>

          <div class="form-group">
            <!-- <label for="sportSelect">Sport</label> -->
            <%= label_tag :sport %>
            <%= select_tag :sport_id, options_from_collection_for_select(@sports, "id", "name"), include_blank: true, class: "form-control"  %>

          </div>

          <div class="form-actions">
            <%= submit_tag "Submit", class: "btn btn-primary btn-md" %>
          </div>
        <% end %>
      </div>
    </div>

      <!-- League Dropdown -->
      <div class="col-xs-12 col-md-6">
        <h3 class="text-center edit-options"> Choose a League to Update: </h3>


        <div class="edit-action">
        </div>

        <div class="delete-action">
        </div>
      </div>
  </div> <!-- End League CRUD -->

  <!-- Venue CRUD -->

  <div id="venues" class="row justify-content-center resource-section">
    <h2 class="section-heading"></h2>
    <div class="col-xs-12">


      <div class="create-action">
      </div>

      <!-- Venue Dropdown -->

      <div class="edit-action">
      </div>

      <div class="delete-action">
      </div>

    </div>
  </div> <!-- End Venue CRUD -->

  <!-- Match CRUD -->
  <div id="matches" class="row justify-content-center resource-section">
    <h2 class="section-heading"></h2>
    <div class="col-xs-12">
      <div class="create-action">
      </div>

      <!-- Venue Dropdown -->

      <div class="edit-action">
      </div>

      <div class="delete-action">
      </div>
    </div>
  </div> <!-- End Match CRUD -->

</div>
