<% content_for :title, "Backcourt Dribble: Tweets for Soccer, Football, Basketball, Rugby, Tennis, Softball, Volleyball, Ice Hockey" %>

<body class="big-black">
  <div class="container-fluid tweet-container">
    <!-- Main row -->
    <div class="row justify-content-center">

      <!-- Column for keywords -->
      <div class="col-xs-12 co-md-4">
        <div class="keywords-container">
          <div>
            <a class="wall-logo" href="/"><%= image_tag "logos/blue_transparent_logo_whletters.png"%></a>
          </div>
          <div class="keyword" id="WoSo">
            <%= link_to 'WOSO', tweets_path(:keyword => "woso") %>
          </div>
          <div class="keyword" id="USWNT">
            <%= link_to 'USWNT', tweets_path(:keyword => "USWNT") %>
          </div>
          <div class="keyword" id="NWSL">
            <%= link_to 'NWSL', tweets_path(:keyword => "NWSL") %>
          </div>
          <div class="keyword" id="concacaf">
            <%= link_to 'concacaf', tweets_path(:keyword => "concacaf") %>
          </div>
          <div class="keyword" id="UWCL">
            <%= link_to 'UWCL', tweets_path(:keyword => "UWCL") %>
          </div>
          <div class="keyword" id="Frauenbundesliga">
            <%= link_to 'Frauenbundesliga', tweets_path(:keyword => "Frauenbundesliga") %>
          </div>
          <div class="keyword" id="DieLiga">
            <%= link_to 'DieLiga', tweets_path(:keyword => "DieLiga") %>
          </div>
          <div class="keyword" id="DFBPokalFrauen">
            <%= link_to 'DFBPokalFrauen', tweets_path(:keyword => "DFBPokalFrauen") %>
          </div>
          <div class="keyword" id="FAWSL">
            <%= link_to 'FAWSL', tweets_path(:keyword => "FAWSL") %>
          </div>
          <div class="keyword" id="FAWCL">
            <%= link_to 'FAWCL', tweets_path(:keyword => "FAWCL") %>
          </div>
          <div class="keyword" id="WLeague">
            <%= link_to 'WLeague', tweets_path(:keyword => "WLeague") %>
          </div>
          <div class="keyword" id="NWL">
            <%= link_to 'NWL', tweets_path(:keyword => "NWL") %>
          </div>
          <div class="keyword" id="FootballFerns">
            <%= link_to 'FootballFerns', tweets_path(:keyword => "FootballFerns") %>
          </div>
        </div> <!-- End keywords-container -->
      </div> <!-- End col for keywords -->

      <!-- Column for tweets -->
      <div class="col-xs-12 col-md-8 tweets-wall">
        <% @tweets.each do |t|%>
          <div class="keyword-tweet">
            <div class="tweet-wrapper">
              <div class="timestamp"><%= "#{t["created_at"]}" %></div>
              <div class="tweet-text"><%= "#{t["full_text"]}" %></div>
              <div class="by-line"> <%= "#{t.dig("user","screen_name")} in #{t.dig("user","location")}" %> </div>
            </div>
          </div>
        <% end %>
      </div> <!-- End column for tweets -->

    </div> <!-- End main row -->

  </div>
</body>
