<nav class="navbar navbar-expand-xl navbar-dark menu-nav" data-turbolinks="false">
  <a class="navbar-brand" href="/"><%= image_tag "logos/Dribble_blue_200_darkergrey.jpg" %></a>
  <%= link_to root_path do %>
    <i class="fa fa-home fa-2x nav-home"></i>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle menu-link" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Soccer", sports_path, class:"dropdown-item menu-link" %>
          <a class="dropdown-item menu-link" href="/">Basketball</a>
          <a class="dropdown-item menu-link" href="/">Rugby</a>
          <a class="dropdown-item menu-link" href="/">Tennis</a>
          <a class="dropdown-item menu-link" href="/">Hockey</a>
          <a class="dropdown-item menu-link" href="/">Volleyball</a>
        </div>
      </li>

      <li class="nav-item active">
        <form class="form-inline">
          <%= link_to "Let's Dribble", sports_path, class:"btn dribble btn-lg" %>
        </form>
      </li>

      <li class="nav-item">
        <%= link_to "Shop", shop_index_path, class:"nav-link menu-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Wall", tweets_path, class:"nav-link menu-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Leaderboard", sports_path, class:"nav-link menu-link" %>
      </li>

      <li class="nav-item">
          <%= image_tag "small_sports/soccer_ball_menu.png" %>
      </li>
    </ul>
  </div>
</nav>
