<nav class="navbar navbar-expand-xl navbar-dark menu-nav" data-turbolinks="false">
  <a class="navbar-brand" href="/"><%= image_tag "logos/bcd_logo_very_small.jpg"%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Sports", sports_path, class: "nav-link menu-link"%>
      </li>

      <li class="nav-item">
        <% if current_user %>
          <%= link_to current_user.username, user_path(current_user), class: "nav-link menu-link" %>
        <% end %>

      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Leaderboards
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%sports_with_matches = @sports.select{|sport| sport.predictions.any? }%>
          <% sports_with_matches.each do |sport| %>
            <%= link_to sport.name, "/sports/#{sport.id}/leaderboard", class: "dropdown-item menu-link" %>
          <% end %>
        </div>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link menu-link"%>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", user_session_path, class: "nav-link menu-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Register", new_user_registration_path, class: "nav-link menu-link"%>
        </li>
      <% end %>


      <li class="nav-item">
        <% if current_user && current_user.admin? %>
          <%= link_to "Admin Portal", admin_index_path, class: "nav-link menu-link" %>
        <% end %>
      </li>




    </ul>
  </div>
</nav>
