<%= render "shared/empty_fifa" %>





<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Backcourt Dribble</title>
</head>
<body>
  <!-- Begin Content -->
  <div class="container-fluid">

    <!-- Start Row 1 -->
    <div class="row">
      <!-- Container for Sports Icon -->
      <div class="col-md-3 menu icon-container d-flex justify-content-center align-items-center">
        <div> <!-- Icon image for sport -->
          <%= image_tag "small_sports/soccer_ball3.png", class: "img-fluid" %>
        </div> <!-- End Icon for sport -->
      </div> <!-- End Container for Sports Icon -->

      <!-- Page header -->
      <div class="col-md-8 banner menu">
        <div class="row">
          <!-- Logo-->
          <div class="col-md-4 orange d-flex align-items-center">
              <%= image_tag "logos/BCD_updated_color_sm2.jpg" %>
          </div>
          <!-- Links to internal site (sign up, dribble, etc.,)-->
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
        <!-- Sports Navigation -->
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </div> <!-- End Row 1 -->

    <!-- Start Row 2 -->
    <div class="row">

      <!-- League menu panel -->
      <div class="col-md-3 league_menu menu">
        <!-- <p> Check out the WoSo's Wall! </p> -->

        <%= render "shared/fifa_menu"%>


        <!-- Ads within league menu panel-->
        <div class="ad-container">
          <div class="ad"></div>
          <div class="ad"></div>
          <div class="ad"></div>
          <div class="ad"></div>
        </div>
      </div> <!-- league menu panel -->

      <!-- Large twitter list panel -->
      <div class="col-md-5 large_twitter_list">


        <%= render "shared/alert_fifa"%>

        <div class="alert alert-secondary" role="alert">
          If you would like to donate to this team? Please do so through <a href="https://www.soccerwithoutborders.org/afghanistan" class="alert-link">Soccer Without Boarders</a>. Make a difference.
        </div>

        <!-- Sr. National Border Template -->
        <div class="template-panel-container d-flex justify-content-center template_large_list">
          <p class="placeholder_text">Senior National Team</p>
        </div>
      </div> <!-- End large twitter list panel -->

      <!-- Start small Border Template-->
      <div class="col-md-3 small_twitter_lists">
        <!-- Retired Border Template-->
        <div class="template-panel-container d-flex justify-content-center template_small_list">
          <p class="placeholder_text">Retired National Players</p>
        </div>
        <!-- Recent Call-ups Border Template-->
        <div class="template-panel-container d-flex justify-content-center template_small_list">
          <p class="placeholder_text">Recent Callups</p>
        </div>
        <!-- U23 Border Template-->
        <div class="template-panel-container d-flex justify-content-center template_small_list">
          <p class="placeholder_text">U23</p>
        </div>
        <!-- U20 Border Template-->
        <div class="template-panel-container d-flex justify-content-center template_small_list">
          <p class="placeholder_text">U20</p>
        </div>
        <!-- U19 Border Template-->
        <div class="template-panel-container d-flex justify-content-center template_small_list">
          <p class="placeholder_text">U19</p>
        </div>
      </div> <!-- End small twitter list panel -->

    </div> <!-- End Row 2 -->
  </div> <!-- End container-fluid  -->
  <!-- End Content -->
</body>
</html>
