<% content_for :title, "Backcourt Dribble: Predictions for #{@league.name}" %>

<div id="fullpage">

  <% sorted_matches = sort_matches_by_date(find_future_matches(@league_matches)) %>

    <% sorted_matches.each do |match| %>
      <% @home_team = Team.find(match.home_team_id) %>
      <% @away_team = Team.find(match.away_team_id) %>

      <div class="section fp-bg fp-noscroll">

        <!-- Makes gradient behind match up -->
        <div class="slide" style="background: #FFFFFF; background: -webkit-linear-gradient(to right, <%= @home_team.bright_color %>, <%= @away_team.bright_color %>);
        background: linear-gradient(to right, <%= @home_team.bright_color %>, <%= @away_team.bright_color %>);">
          <div class="container-fluid">
            <!-- <audio data-autoplay>
              <source src="<%=match.sport.sound_link%>" type="audio/wav">
            </audio> -->
            <div class="row">
              <div class="col-xs-12 mx-auto">
                <div class="match-teams">
                  <h1 class="match-heading"> <%= @home_team.name %> vs. <%=  @away_team.name %></h1>

                  <p style="color:black">Match Start UTC: <%= match.start.utc %></p>
                  <p style="color:black">Formatted Match Start Time: <%= format_match_date(match) %></p>

                  <p style="color:black">Match Start Local (TZInfo): <%= adjust_match_start(match) %></p>
                  <p style="color:black">Formatted Match Start Time: <%= adjust_match_start(match).strftime("%m/%d/%Y at %I:%M%p") %></p>


                    <p class="match-info"> <%= match.venue.name %> <%= format_match_date(match) %> <span>(<%= match.time_zone %>)</span> </p>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-xs-12 mx-auto">
                <%if current_user%>
                  <!-- Logic checking if a prediction has already been made for a certain match by the current user -->
                  <% if current_user.predictions.select{|prediction| prediction.match_id == match.id}.empty?  %>
                    <h3 class="prediction-prompt text-center"> Which Team will Win? </h3>
                    <%= form_tag(controller:'predictions', action:'create') do %>

                      <div class="d-flex justify-content-around">
                        <!-- home -->
                        <div class="form-group form-check form-check-inline">
                          <%= label_tag :guess, "#{@home_team.abbreviation}", class: "form-check-label", style:"color:#000 font-weight:bold;"%>
                          <%= check_box_tag :guess, @home_team.name, false, class: "prediction-checkbox form-check-input" %>
                        </div>

                        <!-- tie -->
                        <div class="form-group form-check form-check-inline">
                            <%= label_tag :guess, "Tie", class: "form-check-label", style:"color:#000 font-weight:bold;"%>
                            <%= check_box_tag :guess, "Tie", false, class: "prediction-checkbox form-check-input" %>
                        </div>

                        <!-- away -->
                        <div class="form-group form-check form-check-inline">
                          <%= label_tag :guess, "#{@away_team.abbreviation}", class: "form-check-label", style:"color:#000 font-weight:bold;"%>
                          <%= check_box_tag :guess, @away_team.name, false, class: "prediction-checkbox form-check-input" %>
                        </div>

                      </div>

                      <div class="reason-textbox d-flex justify-content-center">
                        <div class="reason-input form-group">
                          <%= text_area_tag :reason, nil, class:"form-control", maxlength:"200", placeholder:"Add your reason..."%>
                        </div>
                      </div>

                      <%if current_user%>
                        <%= hidden_field_tag "user_id", current_user.id %>
                      <%end%>

                      <%= hidden_field_tag "match_id", match.id %>

                      <div class="form-actions prediction-submit">
                        <%= submit_tag "Submit", class: "btn btn-outline-light btn-md" %>
                      </div>

                    <% end %>

                  <% else %>
                  <div class="user-prediction-summary">
                    <h2 class="text-center user-prediction-title">Your Prediction:</h2>
                    <% user_prediction = current_user.predictions.find{|prediction| prediction.match_id == match.id} %>
                    <p class="user-predictions"> Your Guess: <span class="prediction-summary-text"><%= user_prediction.guess %> <span>
                    <p class="user-predictions"> Your Reasoning: <span class="prediction-summary-text"><%= insert_spaces(user_prediction.reason) %> <span>
                  </div>
                  <% end %>
                    <div class="back-to-sports d-flex justify-content-center">
                      <%= link_to sports_path do %>
                        <i class="fa fa-arrow-circle-left fa-2x"></i>
                      <% end %>
                    </div>
                <%else%>
                <%= form_tag(controller:'predictions', action:'create') do %>

                  <div class="d-flex justify-content-around">
                    <!-- home -->
                    <div class="form-group form-check form-check-inline">
                      <%= label_tag :guess, "#{@home_team.abbreviation}", class: "form-check-label", style:"color:#000 font-weight:bold;"%>
                      <%= check_box_tag :guess, @home_team.name, false, class: "prediction-checkbox form-check-input" %>
                    </div>

                    <!-- tie -->
                    <div class="form-group form-check form-check-inline">
                        <%= label_tag :guess, "Tie", class: "form-check-label", style:"color:#000 font-weight:bold;"%>
                        <%= check_box_tag :guess, "Tie", false, class: "prediction-checkbox form-check-input" %>
                    </div>

                    <!-- away -->
                    <div class="form-group form-check form-check-inline">
                      <%= label_tag :guess, "#{@away_team.abbreviation}", class: "form-check-label", style:"color:#000 font-weight:bold;"%>
                      <%= check_box_tag :guess, @away_team.name, false, class: "prediction-checkbox form-check-input" %>
                    </div>

                  </div>

                  <div class="reason-textbox d-flex justify-content-center">
                    <div class="reason-input form-group">
                      <%= text_area_tag :reason, nil, class:"form-control", maxlength:"200", placeholder:"Add your reason..." %>
                    </div>
                  </div>

                  <%if current_user%>
                    <%= hidden_field_tag "user_id", current_user.id %>
                  <%end%>

                  <%= hidden_field_tag "match_id", match.id %>

                  <div class="form-actions prediction-submit">
                    <%= submit_tag "Submit", class: "btn btn-outline-light btn-md" %>
                  </div>

                <% end %>

                <div class="back-to-sports d-flex justify-content-center">
                  <%= link_to sports_path do %>
                    <i class="fa fa-arrow-circle-left fa-2x"></i>
                  <% end %>
                </div>

                <%end%>


                </div><!--End column-->
              </div> <!--End Row-->
            </div> <!--End container-->
          </div> <!--End make prediction slide-->

        <!-- All Predictions Slide -->
        <div class="slide" style="background: #FFFFFF; background: -webkit-linear-gradient(to bottom, <%= @home_team.bright_color %>, <%= @away_team.bright_color %>);
        background: linear-gradient(to bottom, <%= @home_team.bright_color %>, <%= @away_team.bright_color %>);">
          <div class="container-fluid">

            <% all_predictions = Prediction.all.select{|prediction| prediction.match == match} %>

            <div class="row">
              <div class="col-xs-12 mx-auto mt-4">
                <h1 class="match-heading"> <%= @home_team.name %> vs. <%=  @away_team.name %> </h1>
                <p class="match-info"> <%= match.start.to_date.strftime("%B #{match.start.to_date.day.ordinalize}") %>, <%= match.venue.name %> </p>
                <p class="total-predictions"> Total predictions for this match: <%= calculate_total_predictions(match).to_i %> </p>
              </div>
            </div>

            <!-- Predictions -->
            <div class="row justify-content-around all-predictions">
              <div class="col-xs-12">
                <% if all_predictions.count != 0 %>
                <% all_predictions.each do |prediction| %>
                  <%user = prediction.user%>
                  <div class="row leaderboard-card justify-content-around">
                      <div class="leaderboard-card-info d-flex align-self-center">
                        <img src="<%=user.avatar%>" class="profile-image" alt="profile image">
                      </div>

                      <div class="leaderboard-card-info d-flex justify-content-center align-self-center">
                        <p class="text-center username"><%= user.username %></p>
                      </div>

                      <div class="leaderboard-card-info d-flex justify-content-center align-self-center">
                        <p class="text-center abbreviation"><%= get_team_abbr(prediction) %></p>
                      </div>

                      <div class="row justify-content-start">
                        <div class="reason-container">
                          <p class="reason"> <%= insert_spaces(prediction.reason) %></p>
                        </div>
                      </div>

                    </div> <!--End leaderboard cards-->

                <% end %>

                <%else%>
                <div class="no-predictions-message">
                  <h2 class="text-center">Be the first to make a prediction on this match!</h2>
                </div>
                <%end%>
                <div class="back-to-sports d-flex justify-content-center">
                  <%= link_to sports_path do %>
                    <i class="fa fa-arrow-circle-left fa-2x"></i>
                  <% end %>
                </div>
              </div> <!--End predictions col-->
            </div> <!--End predictions row-->
          </div> <!--End predictions slide container-->
        </div> <!--End predictions slide-->

        <!-- Venue Information -->
        <div class="slide">
          <div class="container-fluid">

            <div class="row justify-content-center">
              <div class="col-xs-12">
                <div class="venue-info-header">
                  <h1 class="venue-info-title text-center"> <span style="color:<%=@home_team.bright_color%>;"><%=@home_team.name%></span> vs. <span style="color:<%=@away_team.bright_color%>;"><%=@away_team.name%></span></h1>
                  <div class="countdown-text">
                    <div id="clock" class="countdown mx-auto text-center" data-countdown="<%=match.start.strftime('%m/%d/%Y %H:%M:%S')%>"></div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row justify-content-center align-items-center">
              <div class="col-xs-12">
                <div class="venue_info_card d-flex flex-column align-items-center">
                  <h3 class="text-center venue-detail-title">Venue Details</h3>

                  <div class="venue-detail">
                    <p class="desc">Where</p>
                    <p><%=match.venue.name%> <%=match.venue.address%></p>

                    <p class="desc">When</p>
                    <p><%=format_match_date_english(match)%></p>

                    <%if match.channel != ""%>
                      <p class="desc">Casting</p>
                      <p><%=match.channel%> </p>
                    <%end%>

                  </div>

                  <div class="venue-match-links">
                    <a class="game-reminder-link text-center" href="#">Remind Me when Game Starts!</a>
                    <%if match.league.name == "National Women's Soccer League (USA)"%>
                      <a class="ticket-link text-center"href="http://www.nwslsoccer.com/tickets">Purchase Tickets</a>
                    <%end%>
                    <p class="text-center coming-soon">(Coming Soon!)</p>
                  </div>
                </div>

                <div class="back-to-sports d-flex justify-content-center">
                  <%= link_to sports_path do %>
                    <i class="fa fa-arrow-circle-left fa-2x"></i>
                  <% end %>
                </div>
              </div><!--End col -->
            </div> <!--End row -->

              <!-- <div class="row justify-content-center">
                <div class="col-xs-12">
                    <%= link_to image_tag("logos/bcd_black_blue_lg_rectangle2.jpg", class: "logo-link"), root_path %>
                </div>
              </div> -->

          </div> <!--End Venue Info contiainer-->
        </div> <!--End Venue Info Slide-->

        <!-- Twitter Lists  -->
        <!-- <div class="slide">
          <div class="container-fluid">
            <div class="row justify-content-around">
              <div class="col-xs-6">
                <h2 class="text-center" style="color: <%=@home_team.bright_color;%>"><%=@home_team.name%></h2>
                <div class="list-container">
                  <%= raw @home_team.twitter_list%>
                </div>
              </div>
              <div class="col-xs-6">
                <h2 class="text-center" style="color: <%=@away_team.bright_color;%>"><%=@away_team.name%></h2>
                <div class="list-container">
                  <%= raw @away_team.twitter_list %>
                </div>
              </div>
            </div>
        </div>
      </div> -->
  </div> <!-- End section template -->

    <% end %>
</div> <!-- End fullpage -->
