<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fullpagejs - Practice</title>
  </head>
  <body>

      <div id="fullpage">
           <% @matches.each do |match| %>
            <% home_team = Team.find(match.home_team_id) %>
            <% away_team = Team.find(match.away_team_id) %>
            <div id="test" class="section fp-bg">
              <div class="slide">
                <h1> <%= home_team.name %> vs. <%=  away_team.name %> </h1>
                  <h3> Venue </h3>
                    <p> <%= match.venue.name %> </p>
                    <%= image_tag "#{match.venue.picture_url}", class: "img-thumbnail" %>
                  <h3> Time </h3>
                    <p> <%= match.time %> </p>

                <!-- Logic checking if a prediction has already been made for a certain match by the current user -->
                  <% if current_user.predictions.select{|prediction| prediction.match_id == match.id}.empty?  %>
                  <h2> Make Your Prediction </h2>
                  <%= form_tag(controller: 'predictions', action: 'create') do %>
                    <%= label_tag :home_team %>
                    <%= check_box_tag :guess, home_team.name %>

                    <%= label_tag :tie %>
                    <%= check_box_tag :guess, "Tie" %>

                    <%= label_tag :away_team %>
                    <%= check_box_tag :guess, away_team.name %>

                    <%= label_tag :reason %>
                    <%= text_area_tag :reason %>

                    <%= hidden_field_tag "user_id", current_user.id %>

                    <%= hidden_field_tag "match_id", match.id %>

                    <%= submit_tag "Submit" %>
                    <% end %>

                  <% else %>
                    <h2>Your Prediction</h2>
                    <% user_prediction = current_user.predictions.find{|prediction| prediction.match_id == match.id} %>
                    <p> Your Guess: <%= user_prediction.guess %> </p>
                    <p> Your Reasoning: <%= user_prediction.reason %> </p>

                  <%end%>

              </div>
              <div class="slide">
                <h2> Match Info </h2>
                <p><%=match.result%></p>
                <p><%=match.channel%></p>
                <p><%=match.date%></p>
                <p><%=match.time%></p>
                <p><%=match.league.name%></p>
                <p><%=match.venue.name%></p>
              </div>
              <div class="slide">
                <h1>Slide 3</h1>
              </div>
           </div>
          <% end %>
      </div>
  </body>
</html>
