<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fullpagejs - Practice</title>
  </head>
  <body>

      <div id="fullpage">
           <% @matches.each do |match| %>
            <% home_team = Team.find(match.home_team_id) %>
            <% away_team = Team.find(match.away_team_id) %>
            <div id="test" class="section fp-bg">
              <div class="slide">
                <h1> <%= home_team.name %> vs. <%=  away_team.name %> </h1>
                <h3> Make Your Prediction </h3>
                <h3> Make Your Prediction </h3>
                <%= form_tag(controller: 'predictions', action: 'create') do %>
                  <%= label_tag :home_team %>
                  <%= check_box_tag :guess %>

                  <%= label_tag :away_team %>
                  <%= check_box_tag :guess %>

                  <%= label_tag :reason %>
                  <%= text_area_tag :reason %>

                  <%= hidden_field_tag "user_id", current_user.id %>

                  <%= hidden_field_tag "match_id", match.id %>


                  <%= submit_tag "Submit" %>
                <% end %>

              </div>
              <div class="slide">
                <h2> Match Info </h2>
                <p><%=match.result%></p>
                <p><%=match.channel%></p>
                <p><%=match.date%></p>
                <p><%=match.time%></p>
                <p><%=match.league.name%></p>
                <p><%=match.venue.name%></p>
              </div>
              <div class="slide">
                <h1>Slide 3</h1>
              </div>
           </div>
          <% end %>
      </div>
  </body>
</html>
