
      <div id="fullpage">
           <% find_future_matches(@matches).each do |match| %>

            <% @home_team = Team.find(match.home_team_id) %>
            <% @away_team = Team.find(match.away_team_id) %>
            <div class="section fp-bg fp-auto-height-reponsive">
              <!-- Makes gradient behind match up -->
              <div class="slide" style="background: #FFFFFF; background: -webkit-linear-gradient(to right, <%= @home_team.bright_color %>, <%= @away_team.bright_color %>);
              background: linear-gradient(to right, <%= @home_team.bright_color %>, <%= @away_team.bright_color %>);">
              <!-- attempting audio -->
              <!-- <audio data-autoplay>
                  <source src="audio/soccer-ball-hit-ground.wav" type="audio/wav">
              </audio> -->
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12 mx-auto">
                      <div class="match-teams">
                        <h1 class="match-heading"> <%= @home_team.name %> vs. <%=  @away_team.name %> </h1>
                        <p class="match-info"> <%= match.venue.name %> <%= format_match_date(match) %> (<%= match.venue.timezone %>) </p>


                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 mx-auto">
                      <!-- Logic checking if a prediction has already been made for a certain match by the current user -->
                      <% if current_user.predictions.select{|prediction| prediction.match_id == match.id}.empty?  %>

                        <%= form_tag(controller: 'predictions', action: 'create', class: "form-inline") do %>


                          <div class="d-flex justify-content-between custom-control custom-checkbox">
                            <!-- home -->
                            <div class="prediction-check form-group">
                              <%= label_tag :guess, "#{@home_team.name}"%>
                              <%= check_box_tag :guess, @home_team.name, false, class: "prediction-checkbox" %>
                            </div>

                            <!-- tie -->

                            <div class="prediction-check form-group">
                              <!-- custom control for check boxes? -->
                              <!-- <label class="custom-control custom-checkbox"> -->
                                <%= label_tag :guess, "Tie"%>
                                <%= check_box_tag :guess, "Tie", false, class: "prediction-checkbox" %>
                              <!-- </label> -->
                            </div>

                            <!-- away -->
                            <div class="prediction-check form-group">
                              <%= label_tag :guess, "#{@away_team.name}"%>
                              <%= check_box_tag :guess, @away_team.name, false, class: "prediction-checkbox" %>
                            </div>
                          </div>

                          <div class="reason-textbox form-group">

                            <%= text_area_tag :reason, nil, class:"form-control", placeholder: "Add Your Reason Why... " %>
                          </div>

                          <%= hidden_field_tag "user_id", current_user.id %>

                          <%= hidden_field_tag "match_id", match.id %>

                          <div class="form-actions prediction-submit">
                            <%= submit_tag "Submit", class: "btn btn-primary btn-md" %>
                          </div>

                        <% end %>

                      <% else %>
                        <h2>Your Prediction</h2>
                        <% user_prediction = current_user.predictions.find{|prediction| prediction.match_id == match.id} %>
                        <p> Your Guess: <%= user_prediction.guess %> </p>
                        <p> Your Reasoning: <%= user_prediction.reason %> </p>

                      <% end %>
                    </div>
                    </div>
                  </div>
                </div>

              <!-- All Predictions Slide -->

              <div class="slide">
                <%= render "shared/site_nav" %>
                <div class="container-fluid">

                  <div class="row">
                    <div class="col-xs-12 mx-auto">
                      <h1 class="match-heading"> <%= @home_team.name %> vs. <%=  @away_team.name %> </h1>
                      <p class="match-info"> <%= match.venue.name %> <%= format_match_date(match) %> (<%= match.venue.timezone %>) </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 mx-auto">
                      <div id="scroller">
                         <!-- <% home_predictions = select_team_predictions(match, @home_team) %>
                         <% away_predictions = select_team_predictions(match, @away_team) %>
                         <% tie_predictions = select_tie_predictions(match, "tie") %>
                         <%= home_predictions %>
                         <%= away_predictions %>
                         <%= tie_predictions %> -->

                         <h4 class="prediction-board-header"> <%= home_predictions.count %> Predict that <%= @home_team.name %> will win (<%= calculate_prediction_percentage(match, @home_team) %>) </h4>
                         <table class="table table-bordered prediction-board">
                           <thead class="thead-dark">
                             <tr>
                              <th scope="col">Rank</th>
                              <th scope="col">Username</th>
                              <th scope="col">Reason</th>
                              <th scope="col">Likes</th>
                             </tr>
                           </thead>
                         <tbody>
                         <% home_predictions.each do |prediction| %>
                              <tr>
                                <!-- <th scope="row">2</th> -->
                                <td>user_rank</td>
                                <td><%= prediction.user.username %></td>
                                <td><%= prediction.reason%></td>
                                <td><%= prediction.likes%></td>
                              </tr>
                            <% end %>
                            </tbody>
                          </table>


                         <h4 class="prediction-board-header">Tie</h4>
                         <table class="table table-bordered prediction-board">
                           <thead class="thead-dark">
                             <tr>
                              <!-- <th scope="col">#</th> -->
                              <th scope="col">Username</th>
                              <th scope="col">Reason</th>
                              <th scope="col">Likes</th>
                             </tr>
                           </thead>
                         <tbody>
                         <% tie_predictions.each do |prediction| %>
                              <tr>
                                <!-- <th scope="row">2</th> -->
                                <td><%= prediction.user.username %></td>
                                <td><%= prediction.reason %></td>
                                <td><%= prediction.likes %></td>
                              </tr>
                            <% end %>
                            </tbody>
                          </table>


                         <h4 class="prediction-board-header"><%=@away_team.name%></h4>
                         <table class="table table-bordered prediction-board">
                           <thead class="thead-dark">
                             <tr>
                              <!-- <th scope="col">#</th> -->
                              <th scope="col">Username</th>
                              <th scope="col">Reason</th>
                              <th scope="col">Likes</th>
                             </tr>
                           </thead>
                         <tbody>
                         <% away_predictions.each do |prediction| %>
                              <tr>
                                <!-- <th scope="row">2</th> -->
                                <td><%= prediction.user.username %></td>
                                <td><%= prediction.reason%></td>
                                <td><%= prediction.likes%></td>
                              </tr>
                            <% end %>
                            </tbody>
                          </table>




                      </div>
                    </div>

                  </div> <!-- End leaderboard row 2 -->
                </div> <!-- End leaderboard container -->
              </div> <!-- End leaderboard slide -->

              <div class="slide">
                <%= render "shared/site_nav" %>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12 col-md-6 mx-auto">
                      <p><%=match.result%></p>
                      <p><%=match.channel%></p>
                      <p><%=match.start%></p>
                      <p><%=current_user.time_zone%></p>
                      <p><%=match.league.name%></p>
                      <p><%=match.venue.name%></p>
                    <%= image_tag "#{match.venue.picture_url}", class: "w-25" %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="slide">
                <%= render "shared/site_nav" %>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12 col-md-8 mx-auto">
                      <h1> Home Team</h1>
                      <div class="team-twitter-list">
                        <%= raw @home_team.twitter_list %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="slide">
                <%= render "shared/site_nav" %>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12 col-md-8 mx-auto">
                      <h1> Away Team </h1>
                      <div class="team-twitter-list">
                        <%= raw @away_team.twitter_list %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

           </div>
          <% end %>
      </div>
