
      <div id="fullpage">

           <% find_future_matches(@matches).each do |match| %>

            <% @home_team = Team.find(match.home_team_id) %>
            <% @away_team = Team.find(match.away_team_id) %>
            <div class="section fp-bg fp-auto-height-reponsive">
              <!-- Makes gradient behind match up -->
              <div class="slide" style="background: #FFFFFF; background: -webkit-linear-gradient(to right, <%= @home_team.bright_color %>, <%= @away_team.bright_color %>);
              background: linear-gradient(to right, <%= @home_team.bright_color %>, <%= @away_team.bright_color %>);">
              <!-- attempting audio -->
              <!-- <audio data-autoplay>
                  <source src="audio/soccer-ball-hit-ground.wav" type="audio/wav">
              </audio> -->
                <div class="container-fluid">

                  <div class="row">
                    <div class="col-xs-12 mx-auto">
                      <div class="match-teams">
                        <h1 class="match-heading"> <%= @home_team.name %> vs. <%=  @away_team.name %> </h1>
                        <p class="match-info"> <%= match.venue.name %> <%= format_match_date(match) %> (<%= match.venue.timezone %>) </p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 mx-auto">
                      <h3 class="prediction-prompt"> Which Team will Win? </h3>
                      <!-- Logic checking if a prediction has already been made for a certain match by the current user -->
                      <% if current_user.predictions.select{|prediction| prediction.match_id == match.id}.empty?  %>

                        <%= form_tag(controller: 'predictions', action: 'create', class: "form-inline") do %>

                          <div class="d-flex justify-content-around">
                            <!-- home -->
                            <div class="form-group form-check form-check-inline">
                              <%= label_tag :guess, "#{@home_team.name}", class: "form-check-label"%>
                              <%= check_box_tag :guess, @home_team.name, false, class: "prediction-checkbox form-check-input" %>
                            </div>

                            <!-- tie -->

                            <div class="form-group form-check form-check-inline">
                              <!-- custom control for check boxes? -->
                              <!-- <label class="custom-control custom-checkbox"> -->
                                <%= label_tag :guess, "Tie", class: "form-check-label"%>
                                <%= check_box_tag :guess, "Tie", false, class: "prediction-checkbox form-check-input" %>
                              <!-- </label> -->
                            </div>

                            <!-- away -->
                            <div class="form-group form-check form-check-inline">
                              <%= label_tag :guess, "#{@away_team.name}", class: "form-check-label"%>
                              <%= check_box_tag :guess, @away_team.name, false, class: "prediction-checkbox form-check-input" %>
                            </div>
                          </div>

                          <div class="reason-textbox form-group mx-auto">
                            <%= text_area_tag :reason, nil, class:"form-control", placeholder: "Add Your Reason Why... " %>
                          </div>

                          <%= hidden_field_tag "user_id", current_user.id %>

                          <%= hidden_field_tag "match_id", match.id %>

                          <div class="form-actions prediction-submit">
                            <%= submit_tag "Submit", class: "btn btn-primary btn-md" %>
                          </div>

                        <% end %>

                      <% else %>
                        <h2>Your Prediction</h2>
                        <% user_prediction = current_user.predictions.find{|prediction| prediction.match_id == match.id} %>
                        <p> Your Guess: <%= user_prediction.guess %> </p>
                        <p> Your Reasoning: <%= user_prediction.reason %> </p>

                      <% end %>
                    </div>
                    </div>
                  </div>
                </div>

              <!-- All Predictions Slide -->

              <div class="slide big-black">
                <div class="container-fluid">
                  <% home_predictions = select_team_predictions(match, @home_team) %>
                  <% away_predictions = select_team_predictions(match, @away_team) %>
                  <% tie_predictions = select_tie_predictions(match, "tie") %>
                  <div class="row">
                    <div class="col-xs-12 mx-auto">
                      <h1 class="match-heading"> <%= @home_team.name %> vs. <%=  @away_team.name %> </h1>
                      <p class="match-info"> <%= match.start.to_date.strftime("%B #{match.start.to_date.day.ordinalize}") %>, <%= match.venue.name %> </p>
                      <p> Total predictions for this match: <%= calculate_total_predictions(match).to_i %> </p>
                    </div>
                  </div>
                  <!-- Home predictions -->
                  <div class="row">
                    <div class="col-xs-12 mx-auto">
                      <% number_of_home_predictions = home_predictions.count %>
                      <h4 class="prediction-board-header"> <%= number_of_home_predictions %> <%= pluralize_prediction_statement(number_of_home_predictions) %> that <%= @home_team.name %> will win (<%= calculate_team_prediction_percentage(match, @home_team) %>) </h4>
                    </div>
                  </div>

                  <% home_predictions.each do |prediction| %>
                    <div class="row  ml-4">
                    <div class="col-xs-12 col-md-3">
                      <div class="user-avatar">

                      </div>
                    </div>

                    <div class="col-xs-12 col-md-3">
                      <div class="username">
                        <p class="text-center"><%= prediction.user.username %></p>
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-3">
                      <div class="prediction-reason">
                        <p class="text-center"><%= prediction.reason %></p>
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-3">
                      <div class="likes">
                        <p class="text-center"> <%= prediction.likes %> likes </p>
                      </div>
                    </div>

                  </div>
                  <%end%>

                    <!-- Tie predictions -->
                    <div class="row">
                      <div class="col-xs-12 mx-auto">
                        <% number_of_tie_predictions = tie_predictions.count %>
                        <h4 class="prediction-board-header"> <%= number_of_tie_predictions %> <%= pluralize_prediction_statement(number_of_tie_predictions) %> that there will be a tie (<%= calculate_tie_prediction_percentage(match, "tie") %> ) </h4>
                      </div>
                    </div>

                    <% tie_predictions.each do |prediction| %>
                    <div class="row ml-4">
                      <div class="col-xs-12 col-md-3">
                        <div class="user-avatar">
                        </div>
                      </div>

                      <div class="col-xs-12 col-md-3">
                        <div class="username">
                          <p class="text-center"><%= prediction.user.username %></p>
                        </div>
                      </div>

                      <div class="col-xs-12 col-md-3">
                        <div class="prediction-reason">
                          <p class="text-center"><%= prediction.reason %></p>
                        </div>
                      </div>

                      <div class="col-xs-12 col-md-3">
                        <div class="likes">
                          <p> <%= prediction.likes %> likes </p>
                        </div>
                      </div>
                    </div>
                  <%end%>


                      <!-- Away predictions -->
                      <div class="row">
                        <div class="col-xs-12 mx-auto">
                          <% number_of_away_predictions = away_predictions.count %>
                          <h4 class="prediction-board-header"> <%= number_of_away_predictions %> <%= pluralize_prediction_statement(number_of_away_predictions) %> that <%= @away_team.name %> will win (<%= calculate_team_prediction_percentage(match, @away_team) %>) </h4>
                        </div>
                      </div>

                      <% away_predictions.each do |prediction| %>
                      <div class="row ml-4">
                        <div class="col-xs-12 col-md-3">
                          <div class="user-avatar">

                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="username">
                            <p class="text-center"><%= prediction.user.username %></p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="prediction-reason">
                            <p class="text-center"><%= prediction.reason %></p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="likes">
                            <p class="text-center"><%= prediction.likes %> likes </p>
                          </div>
                        </div>
                      </div>
                    <%end%>
                  </div> <!-- End leaderboard row 3 -->
                </div><!-- End leaderboard container -->




              <!-- Venue Information -->
              <div class="slide big-black">
                <div class="container-fluid">

                  <h2 class="venue-info-title text-center"> Venue Information: </h2>

                  <div class="row justify-content-center">
                    <div class="col-xs-12 mx-auto">
                      <div>
                        <h3 class="text-center"> Countdown to Game </h3>
                        <div id="clock" class="countdown mx-auto text-center" data-countdown="<%=match.start.strftime('%m/%d/%Y %I:%M:%S')%>"></div>
                        <a class="game-reminder-link text-center" href="#">Remind Me when Game Starts!</a>
                        <a class="ticket-link text-center"href="#">Purchase Tickets</a>
                        </div>
                      </div>
                    </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-6 mx-auto">
                      
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <div class="venue-info-container">
                        <p> Network: <%=match.channel%> </p>
                        <p> Date & Time: <%=format_match_date(match)%> </p>
                        <p> League: <%=match.league.name%></p>
                        <p> Venue: <%=match.venue.name%></p>
                      </div>
                      <span class="venue-address"><%=match.venue.address%></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="slide">
                <%= render "shared/site_nav" %>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12 col-md-8 mx-auto">
                      <h1> Home Team</h1>
                      <div class="team-twitter-list">
                        <%= raw @home_team.twitter_list %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="slide">
                <%= render "shared/site_nav" %>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12 col-md-8 mx-auto">
                      <h1> Away Team </h1>
                      <div class="team-twitter-list">
                        <%= raw @away_team.twitter_list %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End Section -->
          <% end %>
    </div> <!-- End fullpage -->
