<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fullpagejs - Practice</title>
  </head>
  <body>
      <div id="fullpage">
           <% find_future_matches(@matches).each do |match| %>

            <% @home_team = Team.find(match.home_team_id) %>
            <% @away_team = Team.find(match.away_team_id) %>
            <div class="section fp-bg">
              <div class="slide">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12 mx-auto">
                      <div class="match-teams">
                        <h1> <%= @home_team.name %> vs. <%=  @away_team.name %> </h1>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 mx-auto">
                      <!-- Logic checking if a prediction has already been made for a certain match by the current user -->
                      <% if current_user.predictions.select{|prediction| prediction.match_id == match.id}.empty?  %>

                        <%= form_tag(controller: 'predictions', action: 'create', class: "form-inline") do %>


                          <div class="d-flex justify-content-between custom-control custom-checkbox">
                            <!-- home -->
                            <div class="prediction-check form-group">
                              <%= check_box_tag :guess, @home_team.name %>
                            </div>

                            <!-- tie -->

                            <div class="prediction-check form-group">
                              <!-- custom control for check boxes? -->
                              <!-- <label class="custom-control custom-checkbox"> -->
                                <%= check_box_tag :guess, "Tie" %>
                              <!-- </label> -->
                            </div>

                            <!-- away -->
                            <div class="prediction-check form-group">
                              <%= check_box_tag :guess, @away_team.name %>
                            </div>
                          </div>

                          <div class="reason-textbox form-group">
                            <%= label_tag :add_your_reason_why %>
                            <%= text_area_tag :reason, nil, class:"form-control" %>
                          </div>

                          <%= hidden_field_tag "user_id", current_user.id %>

                          <%= hidden_field_tag "match_id", match.id %>

                          <div class="form-actions prediction-submit">
                            <%= submit_tag "Submit", class: "btn btn-primary btn-md" %>
                          </div>

                        <% end %>

                      <% else %>
                        <h2>Your Prediction</h2>
                        <% user_prediction = current_user.predictions.find{|prediction| prediction.match_id == match.id} %>
                        <p> Your Guess: <%= user_prediction.guess %> </p>
                        <p> Your Reasoning: <%= user_prediction.reason %> </p>

                      <% end %>
                    </div>
                    </div>
                  </div>
                </div>


              <div class="slide">
                <h2> Match Info </h2>
                <p><%=match.result%></p>
                <p><%=match.channel%></p>
                <p><%=match.start%></p>
                <p><%=current_user.time_zone%></p>
                <p><%=match.league.name%></p>
                <p><%=match.venue.name%></p>
                <%= image_tag "#{match.venue.picture_url}", class: "w-25" %>
              </div>
              <div class="slide">
                <h1> All Predictions </h1>

                <% match.predictions.each do |prediction| %>
                  <p>The user <%=prediction.user.username%> predicts that <%=prediction.guess%> will win because <%=prediction.reason%>. </p>
                <% end %>
              </div>

              <div class="slide">
                <h1> Home Team </h1>
                <div>
                  <%= raw @home_team.twitter_list %>
                </div>
              </div>

              <div class="slide">
                <h1> Away Team </h1>
                <div>
                  <%= raw @away_team.twitter_list %>
                </div>
              </div>

           </div>
          <% end %>
      </div>
  </body>
</html>
