<% @home_team = Team.find(@match.home_team_id) %>
<% @away_team = Team.find(@match.away_team_id) %>
<% content_for :title, "Backcourt Dribble Admin: Update #{@home_team} vs. #{@away_team}" %>

<%=render "shared/site_nav"%>

<%match_identifier = "#{@match.start}: #{@home_team.name} vs. #{@away_team.name}"%>
<div class="container">
  <h1 class="show-title">Update or Delete <span class"team-name"><%=match_identifier%></span></h1>

  <!-- Update -->
  <div class="row justify-content-center">
    <div class="col-xs-12 align-items-center">
      <div class="show-container flex-row justify-content-center">
        <%= form_for @match do |f| %>
          <div class="form-group">
            <%= f.label "Result" %>
            <%= f.select :result, [@home_team.name, @away_team.name, "Tie"], include_blank: true, value: "Result"%>
          </div>

          <div class="form-group">
            <%= f.label "Channel" %>
            <%= f.text_field :channel, class: "form-control form-control-lg", value: @match.channel%>
          </div>

          <div class="form-group">
            <%= f.label "League" %><br/>
            <%= f.select :league_id, League.all.collect { |l| [ l.name, l.id ] }, include_blank: true, value: @match.league%>
          </div>

          <div class="form-group">
            <%= f.label "Home Team" %><br/>
            <%= f.select :home_team_id, Team.all.collect { |t| [ t.name, t.id ] }, include_blank: true, value: @home_team%>
          </div>

          <div class="form-group">
            <%= f.label "Away Team" %><br/>
            <%= f.select :away_team_id, Team.all.collect { |t| [ t.name, t.id ] }, include_blank: true, value: @away_team%>
          </div>

          <div class="form-group">
            <%= f.label "Sport" %><br/>
            <%= f.select :sport_id, Sport.all.collect { |s| [ s.name, s.id ] }, include_blank: true, value: @match.sport%>
          </div>

          <div class="form-group">
            <%= f.label "Venue" %><br/>
            <%= f.select :venue_id, Venue.all.collect { |v| [ v.name, v.id ] }, include_blank: true, value: @match.venue%>
          </div>

          <div class="form-group">
            <%= f.label :start, "Start Date and Time" %> <br/>
            <%= f.datetime_select :start, class:"form-control", value: @match.start%>
          </div>

          <div class="form-group">
            <%= f.label "Time Zone" %><br/>
            <%= f.select :time_zone, TZInfo::Timezone.all.collect { |tz| [tz.name] }, include_blank: true, value: @match.time_zone%>
          </div>

          <%= f.submit "Update Match", class: "btn btn-primary btn-lg show-button"%>
        <% end %>


      <!-- Delete  -->
        <%= form_for @match, :method => :delete do |f|  %>
          <%= submit_tag "Delete Match", class: "btn btn-primary btn-lg show-button delete" %>
        <% end %>

        <%= link_to 'Previous', @matches.next(@match), class: "btn btn-lg btn-primary" %>
        <%= link_to 'Next', @matches.previous(@match), class: "btn btn-lg btn-primary" %>
        <%= link_to 'Back To Admin', admin_index_path, class: "btn btn-lg btn-primary" %>

      </div>

      </div>

  </div>

</div>
