<!DOCTYPE html>
<html>
<head>
  <title>Backcourt Dribble</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= ga_script %>

  <style>
    @import url('https://fonts.googleapis.com/css?family=Comfortaa');
  </style>

  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <%= yield %>
  <%= ga_track %>
</body>
</html>
