<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="description" content="Predict the results of women’s sports including soccer, football, basketball, ice hockey, tennis, volleyball, softball. Explore leagues like the NWSL, FIFA World Cup, FAWSL, Euros, Champions League, ICC, W-League, Liga MX Femenil. See the latest tweets in our twitter wall and shop for your fan experience" />
  <%= Gon::Base.render_data %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= ga_script %>

  <style>
    @import url('https://fonts.googleapis.com/css?family=Comfortaa');
  </style>

  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <%= yield %>
  <%= ga_track %>
</body>
</html>
